{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

{% block self_head_css_js %}
    <link rel="stylesheet" href="/static/libs/bootstrap-combobox/css/bootstrap-combobox.css"/>
	<link rel="stylesheet" href="/static/libs/bootstrapvalidator/dist/css/bootstrapValidator.min.css"/>
	<link rel="stylesheet" href="/static/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="/static/libs/bootstrap-multiselect/css/bootstrap-multiselect.css" />
	<link rel="stylesheet" href="/static/libs/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" href="/static/libs/select2/css/select2.min.css" />
    <link rel="stylesheet" href="/static/libs/jquery-confirm/jquery-confirm.min.css" />


	<script src="/static/libs/bootstrap-table/bootstrap-table.js"></script>
	<script src="/static/libs/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="/static/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/libs/select2/js/select2.full.min.js"></script>
    <script src="/static/libs/jquery-confirm/jquery-confirm.min.js"></script>
{% endblock %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                    <h5> 负载均衡器列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="inner-box inner-list-box">
                        <div id="my_input" class="dan-table-menu form form-inline" >

                            <div class="btn-group" role="group" aria-label="...">
                                  <button type="button" id="app_refresh" onclick="location.reload();" class="btn btn-sm btn-success">
                                    <span class="glyphicon glyphicon-refresh"></span> 刷新
                                  </button>
                                {% if user.is_superuser == 1 or user.is_staff == 1%}
                                <button type="button" id="add" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">
                                    <span class="glyphicon glyphicon-plus"></span> 新增
                                </button>
                                <button type="button" id="delete" class="btn btn-sm btn-danger disabled">
                                    <span class="glyphicon glyphicon-remove"></span> 删除
                                </button>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <form class="my-form">
                                    <select id="env" name="env" class="form-control searchForm">
                                        <option value="" selected>环境</option>
                                        {% for e in env %}
                                            <option value="{{ e.0 }}">{{ e.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>

                            <div class="form-group">
                                <form class="my-form">
                                    <input id="search" name="search" type="text" class="form-control searchForm" placeholder="名称/备注" >
                                </form>
                            </div>
                        </div>

                        <div id="my_grid">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><label class="control-label" id="myTitle">新增负载均衡配置</label></h4>
      </div>
      <div class="modal-body">
        <form id="myForm">

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">域名:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='server_name' name="server_name" placeholder="多个域名以空格为分隔" class="form-control required"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">Nginx集群:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="lb_service_id" name="lb_service_id" class="form-control required">
                        <option value="">Nginx集群</option>
                    </select>
	            </div>
            </div>
          </div>


            <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">环境:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="env" name="env" class="form-control required">
                        <option value="">---</option>
                        {% for t in env %}
                        <option value="{{ t.0 }}">{{ t.1 }}</option>
                        {% endfor %}
                    </select>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">端口:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="number" id='port' name="port"  class="form-control required"/>
	            </div>
            </div>
          </div>



            <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red"> </span><label for="_title" class="control-label">SSL端口:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="number" id='sslport' name="sslport"  class="form-control"/>
	            </div>
            </div>
          </div>





            <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">参数:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="parameter" name="parameter" placeholder="每行一条配置，以分号结尾;" rows="5" class="form-control"></textarea>
	            </div>
            </div>
          </div>



          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">备注:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="comment" name="comment" rows="5" class="form-control"></textarea>
	            </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
      	<button type="button" id="formSubmit" class="btn btn-primary ladda-button"><span class="ladda-label"> 提交 </span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><label class="control-label" id="myTitle">修改负载均衡器信息</label></h4>
      </div>
      <div class="modal-body">
        <form id="updateForm" action="">


          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">域名:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_server_name' name="server_name" placeholder="多个域名以空格为分隔" class="form-control required"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">Nginx集群:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="_lb_service_id" name="lb_service_id" class="form-control required">
                        <option value="">Nginx集群</option>
                    </select>
	            </div>
            </div>
          </div>

            <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">环境:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="_env" name="env" class="form-control required">
                        <option value="">---</option>
                        {% for t in env %}
                        <option value="{{ t.0 }}">{{ t.1 }}</option>
                        {% endfor %}
                    </select>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">端口:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="number" id='_port' name="port"  class="form-control required"/>
	            </div>
            </div>
          </div>

            <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red"> </span><label for="_title" class="control-label">SSL端口:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="number" id='_sslport' name="sslport"  class="form-control"/>
	            </div>
            </div>
          </div>


            <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">参数:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="_parameter" name="parameter" placeholder="每行一条配置，以分号结尾;" rows="5" class="form-control"></textarea>
	            </div>
            </div>
          </div>



          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">备注:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="_comment" name="comment" rows="5" class="form-control"></textarea>
	            </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
      	<button type="button" id="updateSubmit" class="btn btn-primary ladda-button"><span class="ladda-label"> 提交 </span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>

<!-- 变更日志 -->
<div class="modal fade" id="changeLogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <iframe id="changeLogIFrame" width="100%" height="750px;" style="border:0;" src=""></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>
<!-- 变更日志 -->

<div class="modal fade" id="pushModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div id="pushnginx" class="modal-body">正在推送 请勿关闭窗口
          <iframe id="pushIFrame" width="100%" height="750px;" style="border:0;" src=""></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block self_footer_js %}
<script>

/**$('#server_name').keyup(function () {
    var value=$(this).val();
    $('#access_log').val('/var/log/nginx/' + value + ".access.log")
    $('#error_log').val('/var/log/nginx/' + value + ".error.log")


})

$('#_server_name').keyup(function () {
    var value=$(this).val();
    $('#_access_log').val('/var/log/nginx/' + value + ".access.log")
    $('#_error_log').val('/var/log/nginx/' + value + ".error.log")


})*/

$("#app").addClass("active");
$(".searchForm").on("change", function(e) {
    $('#my_table').bootstrapTable("refresh");
});
$(".searchForm").bind('keydown', function (e) {
    var key = e.which;
    if (key == 13) {
        $('#my_table').bootstrapTable("refresh");
        return false;
    }
});

initCombobox({
    renderTo: "lb_service_id",
    url: "/api/app/service/?format=json&limit=10000&type=nginx",
    responseHandler: function(data) {
        var results = data.results;
        var lists = [];
        lists.push({text: '---', value: ''});
        for(var i = 0 in results) {
            var row = results[i];
            t = {text: row.name, value: row.id};
            lists.push(t);
        }
        return lists;
    }
});


$("#my_grid").html('<table id="my_table" data-show-columns="false"></table>');

var columns = [
                {field: 'chk', title: '复选框', checkbox: true},
                {field: 'id', title: 'ID'},
                {field: 'lb_service_name', title: '服务名'},
                {field: 'env', title: '环境'},
                {field: 'server_name', title: '域名'},
                {field: 'port', title: '端口'},
                {field: 'sslport', title: 'ssl端口'},
                {field: 'comment', title: '备注'},
                {field: '_op', title: '操作', formatter: opFormatter, events: "actionEvents"}
            ];

window.actionEvents = {
    'click .updateACL': function (e, value, row, index) {
        var id = row['id'];
        var lb_service_id = row['lb_service_id'];

        var env = row['env'];
        var server_name = row['server_name'];

        var port = row['port'];
        var sslport = row['sslport'];
        var parameter = row['parameter'];
        var comment = row['comment'];
        $("#_env").val(env);

        $("#_server_name").val(server_name);
        $("#_port").val(port);
        $("#_sslport").val(sslport);
        $("#_parameter").val(parameter);
        $("#_comment").val(comment);


        initCombobox({
            renderTo: "_lb_service_id",
            url: "/api/app/service/?format=json&limit=10000&type=nginx",
            defaultValue: lb_service_id,
            responseHandler: function(data) {
                var results = data.results;
                var lists = [];
                lists.push({text: '---', value: ''});
                for(var i = 0 in results) {
                    var row = results[i];
                    t = {text: row.name, value: row.id};
                    lists.push(t);
                }
                return lists;
            }
        });
        var url = "/api/lb/lb/" + id + "/?format=json"
        $("#updateForm").attr("action", url);
    },
    'click .delACL': function (e, value, row, index) {
        var id = row['id'];
        var name = row['name'];
        $.confirm({
            title: 'Confirm!',
            content: '确定要删除该负载均衡器配置吗?',
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-blue',
                    action: function () {
                        $.ajax({
                            type: 'delete',
                            url: "/api/lb/lb/" + id + "/",
                            success: function(data) {
                                $('#my_table').bootstrapTable("refresh");
                            },
                            error: function(data) {
                                var content = data.responseText;
                                var json = $.parseJSON(data.responseText);
                                if(typeof json.detail != 'undefined') content = json.detail;
                                $.alert({
                                    title: '删除失败',
                                    content: content
                                });
                            }
                        })
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    },
    'click .changeACL': function (e, value, row, index) {
        var id = row['id'];
        $("#changeLogIFrame").attr('src', '/change/reschange/?resource=lb_lb&res_id=' + id);
        $("#changeLogModal").modal('show');
    },
    'click .showACL': function (e, value, row, index) {
        window.open('/api/lb/nginxconf/' + row['lb_service_name'] + '/?env=' + row['env'])
    },
    'click .pushACL': function (e, value, row, index) {
        var service_name = row['lb_service_name'];
        var env = row['env'];
        $.confirm({
            title: 'Confirm!',
            content: '确定要推送配置文件吗?',
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-blue',
                    action: function () {
                        $("body").mLoading("show");
                        $.ajax({
                            type: 'post',
                            data: {service_name: service_name, env: env},
                            url: "/api/lb/pushNginxConfig/",
                            success: function(data) {
                                $('#my_table').bootstrapTable("refresh");
                                $("body").mLoading("hide");
                            },
                            error: function(data) {
                                var content = data.responseText;
                                try {
                                    var json = $.parseJSON(data.responseText);
                                    if(typeof json.detail != 'undefined') content = json.detail;
                                } catch (e) {
                                    content = '服务端未知错误';
                                }
                                $.alert({
                                    title: '删除失败',
                                    content: content
                                });
                                $("body").mLoading("hide");
                            }
                        })
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    }
{#        $("#pushIFrame").attr('src', "/api/lb/showconf/" + id + "/?format=json");#}
{#    }#}

};

function opFormatter(value, row, index) {
    var html = "<a href='#' class='btn btn-xs btn-warning changeACL'>日志</a>";
    {% if user.is_superuser == 1 or user.is_staff == 1%}
    html += " <a href='#' class='btn btn-xs btn-info updateACL' data-toggle='modal' data-target='#updateModal' data-whatever='@mdo'>编辑</a>";
    {% endif %}
    {% if user.is_superuser == 1 or user.is_staff == 1%}
    html += " <a href='#' class='btn btn-xs btn-primary showACL'>预览</a>";
    html += " <a href='#' class='btn btn-xs btn-danger pushACL'>推送</a>";
    html += " <a href='#' class='btn btn-xs btn-danger delACL'>删除</a>";
    {% endif %}
    return html;
}

function buttonStatus() {
    var selections = $('#my_table').bootstrapTable("getAllSelections");
    if(selections.length <= 0) {
        $("#delete").addClass("disabled");
    } else {
        $("#delete").removeClass("disabled");
    }
}

var _table = $('#my_table').bootstrapTable('destroy').bootstrapTable({
    columns: columns,
    url: "/api/lb/lb/?format=json",
    pagination: true,
    sidePagination: 'server',
    pageSize: 20,
    pageList: [20, 100, 500],
    clickToSelect: false,
    striped: true,
    responseHandler: function (res) {
        $("#delete").addClass("disabled");
        var data = {total: res.count, rows: res.results}
        return data;
    },
    onCheck: function (row) {
        buttonStatus();
        return false;
    },
    onUncheck: function (row) {
        buttonStatus();
        return false;
    },
    onCheckAll: function (rows) {
        buttonStatus();
        return false;
    },
    onUncheckAll: function (rows) {
        buttonStatus();
        return false;
    },
    queryParams: function (params) {

        /**获取所有class为my-form的表单中的元素名和值*/
        var form = $(".my-form");
        if(typeof form != 'undefined') {
            var arr = form.serializeArray();
            $.each(arr, function(i, field){
                params[field.name] = field.value;
            });
        }
        return params;
    }
});

$("#formSubmit").on("click", function(e) {
    var form = $("#myForm").validate({
        submitHandler: function(form) {
            var l = Ladda.create( document.querySelector('#formSubmit') );
            l.start();
            $(form).ajaxSubmit({
                type: 'post',
                url: "/api/lb/lb/?format=json",
                success: function(data) {
                    $("#myForm").resetForm();
                    $('#addModal').modal('hide');
                    $('#my_table').bootstrapTable("refresh");
                    Ladda.stopAll();
                },
                error: function(data) {
                    Ladda.stopAll();
                    var content = data.responseText;
                    var json = $.parseJSON(data.responseText);
                    if(typeof json.detail != 'undefined') content = json.detail;
                    $.alert({
                        title: '新增失败',
                        content: content
                    });
                }
            });
        }
    });
    $("#myForm").submit();
});

$("#updateSubmit").on("click", function(e) {
    var form = $("#updateForm").validate({
        submitHandler: function(form) {
            var l = Ladda.create( document.querySelector('#updateSubmit') );
            l.start();
            $(form).ajaxSubmit({
                type: 'patch',
                success: function(data) {
                    Ladda.stopAll();
                    $("#updateForm").resetForm();
                    $('#updateModal').modal('hide');
                    $('#my_table').bootstrapTable("refresh");
                },
                error: function(data) {
                    Ladda.stopAll();
                    var content = data.responseText;
                    var json = $.parseJSON(data.responseText);
                    if(typeof json.detail != 'undefined') content = json.detail;
                    $.alert({
                        title: '修改失败',
                        content: content
                    });
                }
            });
        }
    });
    $("#updateForm").submit();
});

$("#delete").on("click", function(e) {
    var selections = $('#my_table').bootstrapTable("getAllSelections");
    if(selections.length > 0) {
        var param = {};
        var ids = [];
        for(var i = 0; i < selections.length; i++) {
            var t = selections[i];
            ids.push(t['id']);
        }
        $.confirm({
            title: 'Confirm!',
            content: '确定要删除选中服务吗?',
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-blue',
                    action: function () {
                        $.ajax({
                            type: 'delete',
                            url: "/api/lb/lb/?format=json",
                            data: {id: ids},
                            success: function(data) {
                                $('#my_table').bootstrapTable("refresh");
                            },
                            error: function(data) {
                                var content = data.responseText;
                                var json = $.parseJSON(data.responseText);
                                if(typeof json.detail != 'undefined') content = json.detail;
                                $.alert({
                                    title: '删除失败',
                                    content: content
                                });
                            }
                        })
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    }
});

</script>

{% endblock %}
