{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

{% block self_head_css_js %}
    <link rel="stylesheet" href="/static/libs/bootstrap-combobox/css/bootstrap-combobox.css"/>
	<link rel="stylesheet" href="/static/libs/bootstrapvalidator/dist/css/bootstrapValidator.min.css"/>
	<link rel="stylesheet" href="/static/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="/static/libs/bootstrap-multiselect/css/bootstrap-multiselect.css" />
	<link rel="stylesheet" href="/static/libs/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" href="/static/libs/select2/css/select2.min.css" />
    <link rel="stylesheet" href="/static/libs/jquery-confirm/jquery-confirm.min.css" />

	<script src="/static/libs/bootstrap-table/bootstrap-table.js"></script>
	<script src="/static/libs/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="/static/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/libs/select2/js/select2.full.min.js"></script>
    <script src="/static/libs/jquery-confirm/jquery-confirm.min.js"></script>
{% endblock %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                    <h5> 负载均衡器列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="inner-box inner-list-box">
                        <div id="my_input" class="dan-table-menu form form-inline" >

                            <div class="btn-group" role="group" aria-label="...">
                                  <button type="button" id="app_refresh" onclick="location.reload();" class="btn btn-sm btn-success">
                                    <span class="glyphicon glyphicon-refresh"></span> 刷新
                                  </button>
                                {% if user.is_superuser == 1 or user.is_staff == 1%}
                                <button type="button" id="add" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">
                                    <span class="glyphicon glyphicon-plus"></span> 新增
                                </button>
                                <button type="button" id="delete" class="btn btn-sm btn-danger disabled">
                                    <span class="glyphicon glyphicon-remove"></span> 删除
                                </button>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <form class="my-form">
                                    <select id="search_line" name="app_id" class="form-control searchForm">
                                        <option value="{{ app_id }}" selected>负载均衡</option>
                                    </select>
                                </form>
                            </div>

                            <div class="form-group">
                                <form class="my-form">
                                    <select id="type" name="type" class="form-control searchForm">
                                        <option value="" selected>负载均衡器类型</option>
                                        {% for t in types %}
                                        <option value="{{ t.0 }}">{{ t.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>

                            <div class="form-group">
                                <form class="my-form">
                                    <input id="search" name="search" type="text" class="form-control searchForm" placeholder="名称/备注" >
                                </form>
                            </div>
                        </div>

                        <div id="my_grid">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><label class="control-label" id="myTitle">新增location配置</label></h4>
      </div>
      <div class="modal-body">
        <form id="myForm">

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">名称:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='name' name="name" placeholder="请填写location和upstream的名称" class="form-control required"/>
	            </div>
            </div>
          </div>


        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">所属负载均衡器:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="lb_id" name="lb_id" class="form-control required">
                        <option value="">service</option>
                    </select>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">Url:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='url' name="url" placeholder="请填写location的url" class="form-control required"/>
	            </div>
            </div>
          </div>


        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red"></span><label for="_title" class="control-label">Proxy Url:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='proxy_url' name="proxy_url" placeholder="请填写location的Proxy需要的 Url" class="form-control"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">Upstream关联的service:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="service_id" name="service_id" class="form-control required">
                        <option value="">service</option>
                    </select>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">负载均衡算法:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="upstreamtype" name="upstreamtype" class="form-control required">
                        <option value="">---</option>
                        {% for t in types %}
                        <option value="{{ t.0 }}">{{ t.1 }}</option>
                        {% endfor %}
                    </select>
	            </div>
            </div>
          </div>


        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">后端端口:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='port' name="port" placeholder="请填写后端端口号" class="form-control required"/>
	            </div>
            </div>
        </div>



        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">max_fails:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='max_fails' name="max_fails" placeholder="请填写max_fails" class="form-control required"/>
	            </div>
            </div>
        </div>



        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">fail_timeout:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='fail_timeout' name="fail_timeout" placeholder="请填写fail_timeout" class="form-control required"/>
	            </div>
            </div>
        </div>

         <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">参数:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="parameter" name="parameter" placeholder="请填写proxy参数，每行一条，每行结尾加上分号" rows="3" class="form-control">
    proxy_redirect off ;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header REMOTE-HOST $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_connect_timeout 600;
    proxy_send_timeout 600;
    proxy_read_timeout 600;
    proxy_ignore_client_abort on;
    proxy_buffer_size 1600k;
    proxy_buffers 4 3200k;
    proxy_busy_buffers_size 6400k;
    proxy_temp_file_write_size 6400k;
    proxy_max_temp_file_size 128m;
    proxy_next_upstream error timeout invalid_header http_500 http_503 http_404;
                    </textarea>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">备注:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="comment" name="comment" rows="3" class="form-control"></textarea>
	            </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
      	<button type="button" id="formSubmit" class="btn btn-primary ladda-button"><span class="ladda-label"> 提交 </span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><label class="control-label" id="myTitle">修改服务信息</label></h4>
      </div>
      <div class="modal-body">
        <form id="updateForm" action="">

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">名称:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_name' name="name" placeholder="请填写location和upstream的名称" class="form-control required"/>
	            </div>
            </div>
          </div>


        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">所属负载均衡器:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="_lb_id" name="lb_id" class="form-control required">
                        <option value="">service</option>
                    </select>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">Url:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_url' name="url" placeholder="请填写location的url" class="form-control required"/>
	            </div>
            </div>
          </div>

        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red"></span><label for="_title" class="control-label">Proxy Url:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_proxy_url' name="proxy_url" placeholder="请填写location的Proxy需要的 Url" class="form-control"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">Upstream关联的service:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="_service_id" name="service_id" class="form-control required">
                        <option value="">service</option>
                    </select>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">负载均衡算法:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="_upstreamtype" name="upstreamtype" class="form-control required">
                        <option value="">---</option>
                        {% for t in types %}
                        <option value="{{ t.0 }}">{{ t.1 }}</option>
                        {% endfor %}
                    </select>
	            </div>
            </div>
          </div>


        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">后端端口:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_port' name="port" placeholder="请填写后端端口号" class="form-control required"/>
	            </div>
            </div>
        </div>



        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">max_fails:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_max_fails' name="max_fails" placeholder="请填写max_fails" class="form-control required"/>
	            </div>
            </div>
        </div>



        <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">fail_timeout:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_fail_timeout' name="fail_timeout" placeholder="请填写fail_timeout" class="form-control required"/>
	            </div>
            </div>
        </div>

         <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">参数:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="_parameter" name="parameter" placeholder="请填写proxy参数，每行一条，每行结尾加上分号" rows="3" class="form-control"></textarea>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">备注:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="_comment" name="comment" rows="3" class="form-control"></textarea>
	            </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
      	<button type="button" id="updateSubmit" class="btn btn-primary ladda-button"><span class="ladda-label"> 提交 </span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>

<!-- 变更日志 -->
<div class="modal fade" id="changeLogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <iframe id="changeLogIFrame" width="100%" height="750px;" style="border:0;" src=""></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>
<!-- 变更日志 -->

{% endblock %}

{% block self_footer_js %}
<script>




$("#app").addClass("active");
$(".searchForm").on("change", function(e) {
    $('#my_table').bootstrapTable("refresh");
});
$(".searchForm").bind('keydown', function (e) {
    var key = e.which;
    if (key == 13) {
        $('#my_table').bootstrapTable("refresh");
        return false;
    }
});

initCombobox({
    renderTo: "lb_id",
    url: "/api/lb/lb/?format=json&limit=10000",
{#    defaultValue: "{{ lb_id }}",#}
    responseHandler: function(data) {
        var results = data.results;
        var lists = [];
        lists.push({text: '---', value: ''});
        for(var i = 0 in results) {
            var row = results[i];
            t = {text: row.name, value: row.id};
            lists.push(t);
        }
        return lists;
    }
});
initCombobox({
    renderTo: "service_id",
    url: "/api/app/service/?format=json&limit=10000",
{#    defaultValue: "{{ service_id }}",#}
    responseHandler: function(data) {
        var results = data.results;
        var lists = [];
        lists.push({text: '---', value: ''});
        for(var i = 0 in results) {
            var row = results[i];
            t = {text: row.name, value: row.id};
            lists.push(t);
        }
        return lists;
    }
});



{#initCombobox({#}
{#    renderTo: "app_id",#}
{#    url: "/api/app/app/?format=json&limit=10000",#}
{#    responseHandler: function(data) {#}
{#        var results = data.results;#}
{#        var lists = [];#}
{#        lists.push({text: '---', value: ''});#}
{#        for(var i = 0 in results) {#}
{#            var row = results[i];#}
{#            t = {text: row.name, value: row.id};#}
{#            lists.push(t);#}
{#        }#}
{#        return lists;#}
{#    }#}
{#});#}


$("#my_grid").html('<table id="my_table" data-show-columns="false"></table>');

var columns = [
                {field: 'chk', title: '复选框', checkbox: true},
                {field: 'id', title: 'ID'},
                {field: 'name', title: '名称'},
                {field: 'lb_name', title: '所属负载均衡器'},
                {field: 'service_name', title: '机器服务名'},
                {field: 'url', title: 'url'},
                {field: 'upstreamtype', title: '类型'},
                {field: 'comment', title: '备注'},
                {field: '_op', title: '操作', formatter: opFormatter, events: "actionEvents"}
            ];

window.actionEvents = {
    'click .updateACL': function (e, value, row, index) {
        var id = row['id'];
        var name = row['name'];
        var lb_id = row['lb_id'];
        var url = row['url'];
        var proxy_url = row['proxy_url']
        var service_id = row['service_id'];
        var upstreamtype = row['upstreamtype'];
        var port = row['port'];
        var max_fails = row['max_fails'];
        var fail_timeout = row['fail_timeout'];
        var parameter = row['parameter'];
        var comment = row['comment'];
        $("#_name").val(name);
        $("#_lb_id").val(lb_id);
        $("#_url").val(url);
        $("#_proxy_url").val(proxy_url);
        $("#_service_id").val(service_id);
        $("#_upstreamtype").val(upstreamtype);
        $("#_port").val(port);
        $("#_max_fails").val(max_fails);
        $("#_fail_timeout").val(fail_timeout);
        $("#_parameter").val(parameter);
        $("#_comment").val(comment);

{#        $("#_comment").val(comment);#}

        initCombobox({
            renderTo: "_lb_id",
            url: "/api/lb/lb/?format=json&limit=10000",
{#            defaultValue: "{{ lb_id }}",#}
            defaultValue: lb_id ,
            responseHandler: function(data) {
                var results = data.results;
                var lists = [];
                lists.push({text: '---', value: ''});
                for(var i = 0 in results) {
                    var row = results[i];
                    t = {text: row.name, value: row.id};
                    lists.push(t);
                }
                return lists;
            }
        });
        initCombobox({
            renderTo: "_service_id",
            url: "/api/app/service/?format=json&limit=10000",
{#            defaultValue: "{{ service_id }}",#}
            defaultValue: service_id ,
            responseHandler: function(data) {
                var results = data.results;
                var lists = [];
                lists.push({text: '---', value: ''});
                for(var i = 0 in results) {
                    var row = results[i];
                    t = {text: row.name, value: row.id};
                    lists.push(t);
                }
                return lists;
            }
        });

{#        initCombobox({#}
{#            renderTo: "_app_id",#}
{#            url: "/api/app/app/?format=json&limit=10000",#}
{#            defaultValue: app_id,#}
{#            responseHandler: function(data) {#}
{#                var results = data.results;#}
{#                var lists = [];#}
{#                lists.push({text: '---', value: ''});#}
{#                for(var i = 0 in results) {#}
{#                    var row = results[i];#}
{#                    t = {text: row.name, value: row.id};#}
{#                    lists.push(t);#}
{#                }#}
{#                return lists;#}
{#            }#}
{#        });#}
        var id = row['id'];
        console.log(id);
        var url = "/api/lb/location/" + id + "/?format=json";
        $("#updateForm").attr("action", url);
    },
    'click .delACL': function (e, value, row, index) {
        var id = row['id'];
        $.confirm({
            title: 'Confirm!',
            content: '确定要删除该服务吗?',
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-blue',
                    action: function () {
                        $.ajax({
                            type: 'delete',
                            url: "/api/lb/location/" + id + "/",
                            success: function(data) {
                                $('#my_table').bootstrapTable("refresh");
                            },
                            error: function(data) {
                                var content = data.responseText;
                                var json = $.parseJSON(data.responseText);
                                if(typeof json.detail != 'undefined') content = json.detail;
                                $.alert({
                                    title: '删除失败',
                                    content: content
                                });
                            }
                        })
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    },
    'click .changeACL': function (e, value, row, index) {
        var id = row['id'];
        $("#changeLogIFrame").attr('src', '/change/reschange/?resource=lb_location&res_id=' + id);
        $("#changeLogModal").modal('show');
    }
};






function opFormatter(value, row, index) {
    var html = "<a href='#' class='btn btn-xs btn-warning changeACL'>日志</a>";
    {% if user.is_superuser == 1 or user.is_staff == 1%}
    html += " <a href='#' class='btn btn-xs btn-info updateACL' data-toggle='modal' data-target='#updateModal' data-whatever='@mdo'>编辑</a>";
    html += " <a href='#' class='btn btn-xs btn-danger delACL'>删除</a>";
    {% endif %}
    return html;
}

function groupNameFormatter(value, row, index) {
    var id = row['id'];
    var html = " <a href='/host/apphost/?service_id=" + id + "' >" + value + "</a>";
    return html;
}

function LBNameFormatter(value, row, index) {
    var id = row['id'];
    var html = " <a href='/host/apphost/?service_id=" + id + "' >" + value + "</a>";
    return html;
}



function ServiceNameFormatter(value, row, index) {
    var id = row['id'];
    var service_id = row['service_id'];
    var html = " <a href='/host/apphost/?service_id=" + service_id + "' >" + value + "</a>";
    return html;
}

function buttonStatus() {
    var selections = $('#my_table').bootstrapTable("getAllSelections");
    if(selections.length <= 0) {
        $("#delete").addClass("disabled");
    } else {
        $("#delete").removeClass("disabled");
    }
}

var _table = $('#my_table').bootstrapTable('destroy').bootstrapTable({
    columns: columns,
    url: "/api/lb/location/?format=json",
    pagination: true,
    sidePagination: 'server',
    pageSize: 20,
    pageList: [20, 100, 500],
    clickToSelect: false,
    striped: true,
    responseHandler: function (res) {
        $("#delete").addClass("disabled");
        var data = {total: res.count, rows: res.results}
        return data;
    },
    onCheck: function (row) {
        buttonStatus();
        return false;
    },
    onUncheck: function (row) {
        buttonStatus();
        return false;
    },
    onCheckAll: function (rows) {
        buttonStatus();
        return false;
    },
    onUncheckAll: function (rows) {
        buttonStatus();
        return false;
    },
    queryParams: function (params) {

        /**获取所有class为my-form的表单中的元素名和值*/
        var form = $(".my-form");
        if(typeof form != 'undefined') {
            var arr = form.serializeArray();
            $.each(arr, function(i, field){
                params[field.name] = field.value;
            });
        }
        return params;
    }
});

$("#formSubmit").on("click", function(e) {
    var form = $("#myForm").validate({
        submitHandler: function(form) {
            var l = Ladda.create( document.querySelector('#formSubmit') );
            l.start();
            $(form).ajaxSubmit({
                type: 'post',
                url: "/api/lb/location/?format=json",
                success: function(data) {
                    $("#myForm").resetForm();
                    $('#addModal').modal('hide');
                    $('#my_table').bootstrapTable("refresh");
                    Ladda.stopAll();
                },
                error: function(data) {
                    Ladda.stopAll();
                    var content = data.responseText;
                    var json = $.parseJSON(data.responseText);
                    if(typeof json.detail != 'undefined') content = json.detail;
                    $.alert({
                        title: '新增失败',
                        content: content
                    });
                }
            });
        }
    });
    $("#myForm").submit();
});

$("#updateSubmit").on("click", function(e) {
    var form = $("#updateForm").validate({
        submitHandler: function(form) {
            var l = Ladda.create( document.querySelector('#updateSubmit') );
            l.start();
            $(form).ajaxSubmit({
                type: 'patch',
                success: function(data) {
                    Ladda.stopAll();
                    $("#updateForm").resetForm();
                    $('#updateModal').modal('hide');
                    $('#my_table').bootstrapTable("refresh");
                },
                error: function(data) {
                    Ladda.stopAll();
                    var content = data.responseText;
                    var json = $.parseJSON(data.responseText);
                    if(typeof json.detail != 'undefined') content = json.detail;
                    $.alert({
                        title: '修改失败',
                        content: content
                    });
                }
            });
        }
    });
    $("#updateForm").submit();
});

$("#delete").on("click", function(e) {
    var selections = $('#my_table').bootstrapTable("getAllSelections");
    if(selections.length > 0) {
        var param = {};
        var ids = [];
        for(var i = 0; i < selections.length; i++) {
            var t = selections[i];
            ids.push(t['id']);
        }
        $.confirm({
            title: 'Confirm!',
            content: '确定要删除选中服务吗?',
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-blue',
                    action: function () {
                        $.ajax({
                            type: 'delete',
                            url: "/api/lb/location/?format=json",
                            data: {id: ids},
                            success: function(data) {
                                $('#my_table').bootstrapTable("refresh");
                            },
                            error: function(data) {
                                var content = data.responseText;
                                var json = $.parseJSON(data.responseText);
                                if(typeof json.detail != 'undefined') content = json.detail;
                                $.alert({
                                    title: '删除失败',
                                    content: content
                                });
                            }
                        })
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    }
});

</script>

{% endblock %}
