
{% extends 'base_cmdb.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/libs/bootstrap-combobox/css/bootstrap-combobox.css"/>
	<link rel="stylesheet" href="/static/libs/bootstrapvalidator/dist/css/bootstrapValidator.min.css"/>
	<link rel="stylesheet" href="/static/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="/static/libs/bootstrap-multiselect/css/bootstrap-multiselect.css" />
	<link rel="stylesheet" href="/static/libs/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" href="/static/libs/select2/css/select2.min.css" />
    <link rel="stylesheet" href="/static/libs/jquery-confirm/jquery-confirm.min.css" />

	<script src="/static/libs/bootstrap-table/bootstrap-table.js"></script>
	<script src="/static/libs/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="/static/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/libs/select2/js/select2.full.min.js"></script>
    <script src="/static/libs/jquery-confirm/jquery-confirm.min.js"></script>

{% endblock %}

{% block content-wrapper %}
<div class="dancontainer">

        <!--内页的标题-->
      <div class="inner-h1">机房管理</div>
      <!--内页的标题end-->

     <!--内页存放内容-->
     <div class="inner-box inner-list-box">
	    <div id="my_input" class="dan-table-menu form form-inline" >

            <div class="form-group" >
                <button type="button" id="add" class="btn btn-green" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">
                    <span class="glyphicon glyphicon-plus"></span> 新增
                </button>
	        </div>

            <div class="form-group" >
                <button type="button" id="delete" class="btn btn-red disabled">
                    <span class="glyphicon glyphicon-remove"></span> 删除
                </button>
	        </div>

            <div class="form-group">
                <form class="my-form">
                    <input id="search" name="search" type="text" class="form-control searchForm" placeholder="机房/厂商/备注" >
                </form>
            </div>
		</div>

	    <div id="my_grid">
		</div>

    </div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><label class="control-label" id="myTitle">新增机房</label></h4>
      </div>
      <div class="modal-body">
        <form id="myForm">

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">机房名称:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='name' name="name" class="form-control required"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">中文名:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='cn_name' name="cn_name" class="form-control required"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">前缀标签:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='tag' name="tag" class="form-control"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">位置:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='location' name="location" class="form-control"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">状态:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="state" name="state" class="form-control required">
                        <option value="">---</option>
                        {% for s in state %}
                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                        {% endfor %}
                    </select>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">备注:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="comment" name="comment" rows="3" class="form-control"></textarea>
	            </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
      	<button type="button" id="formSubmit" class="btn btn-primary"> 提交 </button>
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><label class="control-label" id="myTitle">修改机房信息</label></h4>
      </div>
      <div class="modal-body">
        <form id="updateForm" action="">

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">机房名称:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_name' name="name" class="form-control required"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">中文名:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_cn_name' name="cn_name" class="form-control required"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">前缀标签:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_tag' name="tag" class="form-control"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">位置:</label>
	            </div>
	            <div class="col-lg-8">
	            	<input type="text" id='_location' name="location" class="form-control"/>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <span style="color:red">* </span><label for="_title" class="control-label">状态:</label>
	            </div>
	            <div class="col-lg-8">
	            	<select id="_state" name="state" class="form-control required">
                        <option value="">---</option>
                        {% for s in state %}
                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                        {% endfor %}
                    </select>
	            </div>
            </div>
          </div>

          <div class="form-group">
          	<div class="row">
	          	<div class="col-lg-3" style="text-align: right">
		            <label for="_title" class="control-label">备注:</label>
	            </div>
	            <div class="col-lg-8">
                    <textarea id="_comment" name="comment" rows="3" class="form-control"></textarea>
	            </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
      	<button type="button" id="updateSubmit" class="btn btn-primary"> 提交 </button>
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭  </button>
      </div>
    </div>
  </div>
</div>

<script>

	$(".searchForm").on("change", function(e) {
		$('#my_table').bootstrapTable("refresh");
	});
	$(".searchForm").bind('keydown', function (e) {
	    var key = e.which;
	    if (key == 13) {
	    	$('#my_table').bootstrapTable("refresh");
	    	return false;
	    }
	});

	var _top = $("#my_grid").offset().top;
	var height = $(window).height() - _top - 20;

	$("#my_grid").html('<table id="my_table" data-show-columns="false" data-height="' + height + '"></table>');

	var columns = [
                    {field: 'chk', title: '复选框', checkbox: true},
					{field: 'id', title: 'ID'},
					{field: 'name', title: '机房'},
                    {field: 'cn_name', title: '中文名称'},
                    {field: 'tag', title: '前缀标签'},
                    {field: 'location', title: '位置'},
                    {field: 'state', title: '状态'},
                    {field: 'comment', title: '备注'},
					{field: '_op', title: '操作', formatter: opFormatter, events: "actionEvents"}
	           	];

    window.actionEvents = {
	    'click .updateACL': function (e, value, row, index) {
	    	var id = row['id'];
            var name = row['name'];
            var cn_name = row['cn_name'];
            var tag = row['tag'];
            var location = row['location'];
            var state = row['state'];
            var comment = row['comment'];
            $("#_name").val(name);
            $("#_cn_name").val(cn_name);
            $("#_tag").val(tag);
            $("#_location").val(location);
            $("#_state").val(state);
            $("#_comment").val(comment);
            var url = "/api/asset/room/" + id + "/?format=json"
            $("#updateForm").attr("action", url);
	    },
        'click .delACL': function (e, value, row, index) {
	    	var id = row['id'];
            $.confirm({
                title: 'Confirm!',
                content: '确定要删除该机房吗?',
                buttons: {
                    confirm: {
                        text: '确认',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                                type: 'delete',
                                url: "/api/asset/room/" + id + "/",
                                success: function(data) {
                                    window.location.reload();
                                },
                                error: function(data) {
                                    var content = data.responseText;
                                    var json = $.parseJSON(data.responseText);
                                    if(typeof json.detail != 'undefined') content = json.detail;
                                    $.alert({
                                        title: '删除失败',
                                        content: content
                                    });
                                }
                            })
                        }
                    },
                    cancel: {
                        text: '取消',
                        action: function () {
                        }
                    }
                }
            });
	    }
	};

    function opFormatter(value, row, index) {
        var html = "<a href='#' class='updateACL' data-toggle='modal' data-target='#updateModal' data-whatever='@mdo'><span title='修改' class='glyphicon glyphicon-edit'></span></a>";
        html += "　<a href='#' class='delACL'><span title='删除' class='glyphicon glyphicon-remove'></span></a>";
	    return "<div style='width:80px;'>" + html + "</div>";
	}

    function buttonStatus() {
        var selections = $('#my_table').bootstrapTable("getAllSelections");
		if(selections.length <= 0) {
            $("#delete").addClass("disabled");
        } else {
            $("#delete").removeClass("disabled");
        }
    }

	var _table = $('#my_table').bootstrapTable('destroy').bootstrapTable({
	    columns: columns,
	    url: "/api/asset/room/?format=json",
	    pagination: true,
	    sidePagination: 'server',
	    pageSize: 20,
        pageList: [20, 100, 500],
        clickToSelect: false,
        striped: true,
        responseHandler: function (res) {
            $("#delete").addClass("disabled");
            var data = {total: res.count, rows: res.results}
            return data;
        },
        onCheck: function (row) {
        	buttonStatus();
            return false;
        },
        onUncheck: function (row) {
        	buttonStatus();
            return false;
        },
        onCheckAll: function (rows) {
        	buttonStatus();
            return false;
        },
        onUncheckAll: function (rows) {
        	buttonStatus();
            return false;
        },
	    queryParams: function (params) {

	    	/**获取所有class为my-form的表单中的元素名和值*/
	    	var form = $(".my-form");
	    	if(typeof form != 'undefined') {
		    	var arr = form.serializeArray();
		    	$.each(arr, function(i, field){
			   		params[field.name] = field.value;
			  	});
	    	}
	        return params;
        }
	});

    $("#formSubmit").on("click", function(e) {
		var form = $("#myForm").validate({
            submitHandler: function(form) {
				$(form).ajaxSubmit({
					type: 'post',
		            url: "/api/asset/room/?format=json",
		            success: function(data) {
		        		$(this).resetForm();
                        $('#addModal').modal('hide');
                        $('#my_table').bootstrapTable("refresh");
		            },
                    error: function(data) {
                        var content = data.responseText;
                        var json = $.parseJSON(data.responseText);
                        if(typeof json.detail != 'undefined') content = json.detail;
                        $.alert({
                            title: '新增失败',
                            content: content
                        });
                    }
		        });
			}
		});
		$("#myForm").submit();
	});

    $("#updateSubmit").on("click", function(e) {
        var form = $("#updateForm").validate({
            submitHandler: function(form) {
                $(form).ajaxSubmit({
                    type: 'patch',
                    success: function(data) {
                        $(this).resetForm();
                        $('#updateModal').modal('hide');
                        $('#my_table').bootstrapTable("refresh");
                    },
                    error: function(data) {
                        var content = data.responseText;
                        var json = $.parseJSON(data.responseText);
                        if(typeof json.detail != 'undefined') content = json.detail;
                        $.alert({
                            title: '修改失败',
                            content: content
                        });
                    }
                });
            }
        });
        $("#updateForm").submit();
    });

    $("#delete").on("click", function(e) {
		var selections = $('#my_table').bootstrapTable("getAllSelections");
		if(selections.length > 0) {
            var param = {};
            var ids = [];
            for(var i = 0; i < selections.length; i++) {
                var t = selections[i];
                ids.push(t['id']);
            }
            $.confirm({
                title: 'Confirm!',
                content: '确定要删除选中机房吗?',
                buttons: {
                    confirm: {
                        text: '确认',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                                type: 'delete',
                                url: "/api/asset/room/?format=json",
                                data: {id: ids},
                                success: function(data) {
                                    window.location.reload();
                                },
                                error: function(data) {
                                    var content = data.responseText;
                                    var json = $.parseJSON(data.responseText);
                                    if(typeof json.detail != 'undefined') content = json.detail;
                                    $.alert({
                                        title: '删除失败',
                                        content: content
                                    });
                                }
                            })
                        }
                    },
                    cancel: {
                        text: '取消',
                        action: function () {
                        }
                    }
                }
            });
        }
	});
</script>
{% endblock %}
