{% extends 'base.html' %}
{% block content %}
{% include 'nav_cat_bar.html' %}

{% block self_head_css_js %}
    <link rel="stylesheet" href="/static/libs/bootstrap-combobox/css/bootstrap-combobox.css"/>
	<link rel="stylesheet" href="/static/libs/bootstrapvalidator/dist/css/bootstrapValidator.min.css"/>
	<link rel="stylesheet" href="/static/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="/static/libs/bootstrap-multiselect/css/bootstrap-multiselect.css" />
	<link rel="stylesheet" href="/static/libs/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" href="/static/libs/select2/css/select2.min.css" />
    <link rel="stylesheet" href="/static/libs/upload/fileinput.min.css" />
    <link rel="stylesheet" href="/static/libs/jquery-confirm/jquery-confirm.min.css" />

	<script src="/static/libs/bootstrap-table/bootstrap-table.js"></script>
	<script src="/static/libs/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="/static/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/libs/select2/js/select2.full.min.js"></script>
    <script src="/static/libs/loading.js"></script>
    <script src="/static/libs/upload/ajaxfileupload.js"></script>
    <script src="/static/libs/jquery-confirm/jquery-confirm.min.js"></script>
{% endblock %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                    <h5> <a title="返回" href="" id="go_back" onclick="history.back(-1);"><span class="glyphicon glyphicon-arrow-left"></span></a>&nbsp;&nbsp;修改资产信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div id="rtn_msg" class="alert alert-success" role="alert" style="display: none"></div>
                    <form id="updateHostForm">

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <span style="color:red">* </span><label for="_title" class="control-label">主机名:</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" id='hostname' name="hostname" class="form-control required"/>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <span style="color:red">* </span><label for="_title" class="control-label">ip:</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" id='ip' name="ip" class="form-control required"/>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <label for="_title" class="control-label">序列号(sn号):</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" id='sn' name="sn" class="form-control"/>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <label for="_title" class="control-label">公网ip:</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" id='publicip' name="publicip" class="form-control"/>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <label for="_title" class="control-label">管理ip:</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" id='oobip' name="oobip" class="form-control"/>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <span style="color:red">* </span><label for="_title" class="control-label">设备类型:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="type" name="type" class="form-control required" style="width: 100%">
                                    <option value="">---</option>
                                    {% for type in type %}
                                    <option value="{{ type.0 }}">{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <span style="color:red">* </span><label for="_title" class="control-label">设备属性:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="attribute" name="attribute" class="form-control required" style="width: 100%">
                                    <option value="">---</option>
                                    {% for a in attribute %}
                                    <option value="{{ a.0 }}">{{ a.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <span style="color:red">* </span><label for="_title" class="control-label">所属环境:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="env" name="env" class="form-control required">
                                    {% for e in env %}
                                    <option value="{{ e.0 }}">{{ e.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <span style="color:red">* </span><label for="_title" class="control-label">机房:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="room_id" name="room_id" class="form-control required">
                                    <option value="">---</option>
                                    {% for r in rooms %}
                                    <option value="{{ r.id }}">{{ r.cn_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <label for="_title" class="control-label">系统镜像:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="img_id" name="img_id" class="form-control">
                                    <option value="">---</option>
                                    {% for c in img_list %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <label for="_title" class="control-label">配置:</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="conf_id" name="conf_id" class="form-control">
                                    <option value="">---</option>
                                    {% for c in confs %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <label for="_title" class="control-label">主机描述:</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" id='description' name="description" class="form-control"/>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                                <span style="color:red">* </span> <label for="_title" class="control-label">费用:</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" id='amount' name="amount" class="form-control required"/>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: right">
                            </div>
                            <div class="col-lg-6">
                                <button type="button" id="updateHostButton" class="btn btn-primary"> 提交 </button>
                                <button type="reset" class="btn btn-default"> 重置 </button>
                            </div>
                        </div>
                      </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block self_footer_js %}
<script>

var host_id = {{ host_id }};

function getHostInfo(host_id) {
    $.get('/api/host/host/' + host_id + "/", {format: 'json'}, function(data) {
        $("#ip").val(data.ip);
        $("#hostname").val(data.hostname);
        $("#sn").val(data.sn);
        $("#oobip").val(data.oobip);
        $("#type").val(data.type);
        $("#attribute").val(data.attribute);
        $("#env").val(data.env);
        $("#room_id").val(data.room_id);
        $("#img_id").val(data.img_id);
        $("#conf_id").val(data.conf_id);
        $("#description").val(data.description);
        $("#amount").val(data.amount);
        $("#publicip").val(data.publicip);
    });
}
getHostInfo(host_id);

$("#updateHostButton").on("click", function(e) {
    $("#updateHostForm").attr("action", '/api/host/host/' + host_id + "/");
    var form = $("#updateHostForm").validate({
        rules:{
            amount:{
                number: true,
                min: 0
            }
        },
        submitHandler: function(form) {
            $.bootstrapLoading.start({ loadingTips: "正在处理数据，请稍候..." });
            $(form).ajaxSubmit({
                type: 'patch',
                success: function(data) {
                    $("#rtn_msg").text("修改设备成功");
                    $("#rtn_msg").removeClass("alert-danger");
                    $("#rtn_msg").addClass("alert-success");
                    $.bootstrapLoading.end();
                    $("#rtn_msg").show();
                    $("#rtn_msg").focus();
                    $("html,body").animate({scrollTop:0}, 10)
                },
                error: function(data) {
                    $("#rtn_msg").text("修改设备失败:" + data.responseText);
                    $("#rtn_msg").removeClass("alert-success");
                    $("#rtn_msg").addClass("alert-danger");
                    $.bootstrapLoading.end();
                    $("#rtn_msg").show();
                    $("#rtn_msg").focus();
                    $("html,body").animate({scrollTop:0}, 10)
                }
            });
        }
    });
    $("#updateHostForm").submit();
});

</script>

{% endblock %}
